version: 2.1

orbs:
  codecov: codecov/codecov@1.0.2

executors: # configuration of image where the jobs will be executed
    my-executor:
        docker:
            - image: circleci/node

commands: # commands that you can configure to use within jobs
  testapp: # name of the command
    description: "A command to test the app"
    steps:
      - run:
            name: "Test"
            command: CI=true yarn test --coverage
  savecache:
    description: "Command to install dependecy and keep in the cache"
    steps:
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
  covupload:
    description: "Command to upload reports to codecov"
    parameters:
      token:
        type: string
    steps:
      - codecov/upload:
          file: coverage/*.json
          token: << parameters.token >>
          flags: frontend

jobs: # a job is a set of step that you can execute.
    build_1:
        executor: my-executor
        steps:
            - checkout
            - savecache
            - testapp
            - covupload:
              token: $codecov_token

workflows:
  version: 2
  main:
    jobs:
      - build_1:
          context: test
